*{box-sizing: border-box;}

body{
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.container-menu{
    margin: 0;
    list-style: none;
    height: 10vh;
    padding: 0;
    
    background-color: rgb(49, 46, 46);
}

li{
    float: left;
    font-size: 25px;
}

a{
    font-family: 'Franklin Gothic Medium';
}

li a{
    color: white;
    text-align: center;
    align-items: center;
    padding: 36px 30px;
    text-decoration: none;
    overflow: hidden;
}

li a:hover:not(.active){
    background-color: darkblue;
}

iframe{
    border: 0;
    width: 100%;
    height: 85vh;
}

.rodape{
    position: absolute;
    background-color: gray;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}