body{
    background-color: darkblue;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Arial';
    color: white;
}

hr{
    width: 50%;
    margin-top: -20px;
}

.all{
    background-color: royalblue;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    height: 275px;
    margin: auto;
}

.btn{
    width: 20%;
    margin: auto;
}

button{
    background-color: aqua;
    width: 125px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
}

button:hover{
    background-color: rgb(12, 12, 68);
    color: white;
}

table{
    background-image: linear-gradient(rgb(15, 30, 74), rgb(16, 43, 124), rgb(11, 49, 166));
    width: 75%;
    margin: auto;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

th{
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
}

td{
    border: 2px solid white;
    border-radius: 3px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial';
}