body{
    background-color: darkblue;
}

.tittle{
    width: 300px;
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    color: white;
    margin: auto;
}

.container-cont{
    background-color: lightskyblue;
    border: 3px solid white;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    padding: 5px;
}

.cod_cliente{
    font-size: 23px;
    font-family:'Lucida Sans';
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

#idcliente{
    font-size: 16px;
    margin-left: 5px;
    width: 35px;
    border: none;
    border-radius: 6px;
    text-align: center;
}

hr{
    width: 35%;
    background-color: white;
}

.container-alter{
    background-color: royalblue;
    border: 3px solid white;
    border-radius: 15px;
    width: 25%;
    height: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}

b{
    text-align: center;
    font-size: 25px;
    font-family:'Verdana';
}

.container-alter label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.container-alter input{
    width: 75%;
    height: 25px;
    margin: auto;
    text-align: center;
    font-size: medium;
    color: white;
    background-color: rgb(110, 110, 238);
    border: 2px solid rgb(190, 188, 188);
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

button{
    background-color: rgb(34, 34, 112);
    color: white;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
}

button:hover{
    background-color: aliceblue;
    border: 2px solid black;
    color: darkslategray;
}