*{box-sizing: border-box;}

body{
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.container-menu{
    margin: 0;
    list-style: none;
    height: 10vh;
    padding: 0;
    background-color: rgb(49, 46, 46);
}

.container-menu_links li a{
    display: flex;
}

.material-icons{
    font-size: 22px;
    margin-right: 5px;
}

li{
    float: left;
    font-size: 25px;
}

a{
    font-family: 'Franklin Gothic Medium';
}

li a{
    color: rgb(81, 169, 228);
    text-align: center;
    align-items: center;
    padding: 36px 30px;
    text-decoration: none;
    overflow: hidden;
}

li a:hover:not(.active){
    background-color: rgb(7, 7, 241);
    color: white;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(13, 13, 83);
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    margin-top: -8px;
    width: 185px;
    background-color: rgb(49, 46, 46);
}

.dropdown-content a{
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover{
    background-color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}

iframe{
    border: 0;
    width: 100%;
    height: 85vh;
}

.rodape{
    position: absolute;
    background-color: rgb(63, 62, 62);
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}