*{box-sizing: border-box;}

body{
    margin: 0;
}

.container-menu{
    background-color: red;
    display: flex;
}

.container-menu_links{
    font-display: none;
}

iframe{
    border: 0;
    width: 100%;
    height: 80vh;
}